<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script> <!--https://cdn.tailwindcss.com-->
    <title>Jobs</title>
</head>
<body class="bg-gray-900 h-screen items-center flex justify-center">

    <p class="text-white">Jobs</p>
    <nav class="bg-gray-700">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-start text-white">
                <div class="space-x-4">
                    <a href="/candidate/profile">Profile</a>
                    <a href="/candidate/jobs" class="bg-gray-900 rounded-md px-3 py-2">Jobs</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-8 text-center">
        <form action="">
            <input type="text" name="filter" placeholder="Filter..."
            class="bg-gray-50 text-grey-500 rounded w-96 p-3 focus:outline-none">
            <button class="bg-blue-800 text-gray-100 w-22 p-3 rounded hover:bg-blue-500 ml-1">Search</button>
        </form>

        <div class="container mx-auto mt-8">

            <div class="bg-gray-800 p-8 rounded-lg shadow-md">

                <h3 th:text="${job.name}">

        
                <span class="font-bold">Description: </span>
                <span th:text="${job.description}"></span>
                <span class="font-bold">Benefits: </span>
                <span th:text="${job.benefits}"></span>

    
            </div>
        
    </div>



     
</body>
</html>