<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script> <!--https://cdn.tailwindcss.com-->
    <title>Vacancy Registration</title>
</head>
<body class="bg-white h-screen flex flex-col items-center justify-start">

    <nav class="bg-zinc-950 p-4 flex justify-between items-center">
        <div>
            <a href="/company/jobs" class="text-white text-lg font-semibold">Register</a>
        </div>
        <div>
            <a href="/company/jobs/list" class="text-white text-lg font-semibold">Listing</a>
        </div>
        <div>
            <a href="/company/logout" class="text-white text-lg font-semibold">Logout</a>
        </div>
    </nav>

    <div class="flex-grow flex items-center justify-center">
        <div class="bg-gray-200 rounded-lg p-8 w-3/4 max-w-xl shadow-lg">
            <h1 class="text-gray-800 text-3xl mb-6">Vacancy Registration</h1>

            <form th:action="@{/company/jobs}" th:object="${job}" method="post" class="space-y-4">
                <div>
                    <label for="" class="text-gray-700">Title</label>
                    <input type="text" placeholder="Ex: Developer" name="title" th:field="*{title}" class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-none focus:ring-blue-600 focus:ring-2">
                </div>

                <div>
                    <label for="" class="text-gray-700">Description</label>
                    <input type="text" placeholder="Ex: Full Stack Developer" name="description" th:field="*{description}" class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-none focus:ring-blue-600 focus:ring-2">
                </div>

                <div>
                    <label for="" class="text-gray-700">Level</label>
                    <input type="text" placeholder="Ex: Intern" name="level" th:field="*{level}" class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-none focus:ring-blue-600 focus:ring-2">
                </div>

                <div>
                    <label for="" class="text-gray-700">Benefits</label>
                    <input type="text" placeholder="Ex: Gym pass" name="benefits" th:field="*{benefits}" class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-none focus:ring-blue-600 focus:ring-2">
                </div>

                <div>
                    <button class="bg-blue-800 text-gray-100 w-full p-3 rounded hover:bg-blue-500">Register Job</button>
                </div>
            </form>

        </div>     
    </div>
    
</body>
</html>